@import "normalize.css";
@import "./search-section/search-section.css";
@import "./sort-section/sort-section.css";
body {
    background-color: #F7F7F7;
}

main {
    width: 960px;
    margin: 0 auto;
    font-family: Inter sans-serif;
}

.main-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 12px;
}
