@import "./sort-button.css";

.sort-section {
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
    background: none;
    margin-top: 72px;
}

.sort-title {
    font-size: 10px;
    line-height: 14px;
    font-weight: 500;
    color: #9EAAB4;
}